<html ng-app="GeocacheWebApp" >
<head>

  <div class="container-fluid">

  <title>cache.io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
   <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>

  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/cacheController.js"></script>
  <script src="/javascripts/controllers/cachesController.js"></script>
  <script src="/javascripts/controllers/homeController.js"></script>
  <script src="/javascripts/controllers/loginController.js"></script>
  <script src="/javascripts/controllers/mapController.js"></script>
  <script src="/javascripts/controllers/resultsController.js"></script>




      <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-controller="homeController">





<!-- NAVBAR -->
<ul class="nav nav-fill navbar-light bg-light">
  <a class="navbar-brand" href="#/">cache.io</a>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="#/search">Search</button>
  </form>

  <li class="nav-item">
    <a class="nav-link active" href="#caches"><i class="fas fa-map-marker-alt fa-lg"></i>  Your Caches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#map"><i class="fas fa-map fa-lg"></i>  Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#logout"> <i class="fas fa-sign-out-alt fa-lg"></i> Logout</a> <!--todo add button here-->
  </li>

</ul>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

  <div ng-view></div>

</div> <!-- End of main div -->


<footer class="text-center">
  <p>View the Practical Lab for this App on <a href="http://ddrohan.gitbooks.io">GitBook.com</a></p>
</footer>
</body>
</html>

</div> <!-- close the main container div -->
