<html ng-app="GeocacheWebApp" >
<head>

  <div class="container-fluid">

  <title>cache.io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>

  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/mainController.js"></script>
  <script src="/javascripts/controllers/aboutController.js"></script>
  <script src="/javascripts/controllers/cacheController.js"></script>
  <script src="/javascripts/controllers/cachesController.js"></script>
  <script src="/javascripts/controllers/contactController.js"></script>



  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-controller="mainController">





<!-- NAVBAR -->

<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light bg-light main-nav">
  <a class="navbar-brand" href="#">cache.io</a> <!--TODO change these routes-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#caches">View Caches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#logout">Logout</a>
      </li>

    </ul>

  </div>
</nav>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

  <div ng-view></div>

</div> <!-- End of main div -->


<footer class="text-center">
  <p>View the Practical Lab for this App on <a href="http://ddrohan.gitbooks.io">GitBook.com</a></p>
</footer>
</body>
</html>

</div> <!-- close the main container div -->
