<div class="jumbotron text-center">
  <h1>Make a Donation</h1>

  <p>{{ message }}</p>

  <div ng-controller="cacheController">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form ng-submit="addCache()"
              style="margin-top:30px;">
          <h3>Add a new geocache</h3>


          <div class="form-group" align="center">
            <input type="text"
                   class="form-control"
                   placeholder="Name"
                   ng-model="formData.name"
                   ng-style="{'width': 100 + 'px'}"></input>
          </div>
          <button type="submit" ng-submit="addCache() class="btn btn-primary">Add</button>
        </form>

      </div>
    </div>
  </div>